.vs/
GISA/.vs/
GISA\.vs\GISA\v16\.suo
GISA/obj/
*.cache
GISA\obj\Debug\docker-compose.dcproj.AssemblyReference.cache
GISA\.vs\GISA\v16\.suo
GISA\obj\Docker\CachedComposeConfigFilePaths.cache
GISA\src\Common\GISA.EventBusRabbitMQ\obj\Debug\net5.0\GISA.EventBusRabbitMQ.csproj.AssemblyReference.cache
GISA\src\Common\GISA.EventBusRabbitMQ\obj\Debug\net5.0\GISA.EventBusRabbitMQ.csproj.FileListAbsolute.txt