<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z6" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="mat-elevation-z5" color="primary">Menu</mat-toolbar>
    <mat-nav-list class="nav-list">
      <div class="nav-item">
      <a class="nav-link" mat-list-item routerLink="/associado" routerLinkActive="active">Alterar Plano Associado</a>
      <!-- <a mat-list-item routerLink="/associado-novo" routerLinkActive="active">Novo Associado</a> -->
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GISA.Associado</span>
    </mat-toolbar>
    <div class="container">
   <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>