
<div *ngIf="associadoForm">
    <form [formGroup]="associadoForm" (ngSubmit)="updatePlano()">
        <div class="row">
            <div class="col-12" style="text-align: center;">
            <span>Dados do Associado</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group col-md-12">
                    <label for="nomeAssociado">Nome Associado </label><span class="text-danger"></span>
                    <input id="nomeAssociado" formControlName="nomeAssociado" [value]="nomeAssociado" class="form-control form-control"
                    maxlength="50" type="text">
                </div>

                <div class="form-group col-6 col-lg-6 col-md-6">
                    <label for="dataNascimento">Data de Nascimento</label><span class="text-danger"></span>
                    <input id="dataNascimento" formControlName="dataNascimento" [value]="dataNascimento" class="form-control form-control" type="text">
                </div>

                <div class="form-group col-6 col-lg-6">
                    <label for="cpfCnpj">CPF</label><span class="text-danger"></span>
                    <input id="cpfCnpj" formControlName="cpfCnpj" [value]="cpfCnpj" class="form-control form-control" type="text">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12" style="text-align: center;">
            <span>Plano Atual</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-md-6">
                    <label for="descricao">Descrição </label><span class="text-danger"></span>
                    <input id="descricao" formControlName="descricao" [value]="descricao" class="form-control form-control"
                    maxlength="50" type="text">
                </div>

                <div class="form-group col-6 col-lg-6 col-md-6">
                    <label for="tipoPlano">Tipo Plano</label><span class="text-danger"></span>
                    <select formControlName="tipoPlano" [value]="tipoPlano" class="form-control" id="tipoPlano" required>
                        <option [value]="0">Individual</option>
                        <option [value]="1">Empresarial</option>
                      </select>
                </div>

                <div class="form-group col-6 col-lg-6">
                    <label for="valorAtual">Valor Atual</label><span class="text-danger"></span>
                    <input id="valorAtual" formControlName="valorAtual" [value]="valorAtual" class="form-control form-control" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="text-align: center;">
            <span>Novo Plano</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-md-6">
                    <label for="planoId">Plano </label><span class="text-danger"></span>
                     <select class="form-control" id="planoId" formControlName='planoId'>
                        <option value="" [selected]>Selecione</option>
                        <option *ngFor="let plano of listPlanos" value={{plano.id}}>
                        {{plano.descricao}}</option>
                    </select> 
                </div>

                <div class="form-group col-3 col-lg-3 col-md-3">
                    <label for="possuiPlanoOdontologico">Adicionar Plano Odontológico</label><span class="text-danger" style="display: block;"></span>
                    <input id="possuiPlanoOdontologico"  formControlName="possuiPlanoOdontologico" class="form-control form-control" type="checkbox">
                </div> 

                <div class="form-group col-6 col-lg-6">
                    <label for="valorNovo">Valor novo Plano</label><span class="text-danger"></span>
                    <input id="valorNovo" formControlName="valorNovo" class="form-control form-control" type="number">
                </div>
            </div>
        </div> 

        <div>
            <button type="submit" mat-button color="primary">Cadastrar</button>
        </div>
    </form>

</div>
